
<h1>Battle!</h1>
<img src="https://licensinginternational.org/wp-content/uploads/2019/11/Pokemon.jpg"/>
<h2>Sign in to play!</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name:
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name:
    <input type="text" name="player_2_name">
  </label>
    <input type="submit" value="Submit">
<h3>Rules:</h3>
<ol>
  <li>Sign in with your names
  <li>Fight until one player faints
  <li>You can switch Pokemon within gameplay    
</form>
